---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="A Propos | Jean-Louis DUMAS"
  description="A Propos Jean-Louis DUMAS"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="A Propos"
        tagline="Découvrez mon parcours et mes compétences"
      >
        <img
          width="1553"
          height="873"
          src="/assets/About-1.jpg"
          alt="Jean-Louis DUMAS"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Mon parcours professionnel, débutant en tant que Préparateur de
            commande avant de gravir les échelons jusqu'au poste de Chef
            d'équipe en logistique, témoigne de ma détermination à évoluer en
            compétences. Cherchant continuellement à approfondir mes
            connaissances, j'ai entrepris une reconversion professionnelle
            passionnante qui m'a conduit à plonger dans l'univers dynamique du
            développement web.
          </p>
          <p>
            Ma formation à la Wild Code School a été une expérience
            transformative, m'offrant quotidiennement la possibilité d'explorer
            de nouvelles technologies et frameworks. Cette immersion constante
            dans un domaine en perpétuelle évolution a aiguisé ma curiosité et
            renforcé mon désir insatiable d'apprendre et de m'adapter. À la
            recherche de nouveaux défis, je m'apprête à rejoindre une
            alternance, une étape cruciale qui me permettra non seulement
            d'affiner mes compétences, mais aussi de repousser mes propres
            limites.
          </p>
          <p>
            En tant que junior dans le domaine du développement web, mon
            engagement indéfectible envers cette passion me guide dans la quête
            incessante d'apporter des solutions novatrices et efficaces à
            l'écosystème numérique en constante évolution. Chaque projet est
            pour moi une opportunité de démontrer ma créativité et de contribuer
            positivement à cet univers en perpétuelle mutation.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Diplômes</h2>
        <div class="content">
          <p>
            Je suis actuellement en formation BootCamp à la Wild Code School
            pour me préparer à la qualification RNCP - développeur web et mobile
            de niveau 5.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            Curieux, Créatif, Autonome, Organisé, Dynamique, Polyvalent, Travail
            d'équipe.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
